<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <!-- Здесь разместите свои пункты меню -->
    <mat-nav-list>
      <a mat-list-item routerLink="/">Аукиуч</a>
      <a mat-list-item routerLink="/about">О нас</a>
      <a mat-list-item routerLink="/contact">Контакты</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Здесь разместите контент вашего приложения -->
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

