<div class="mt-5">
  <div class="row">
    <div *ngFor="let slot of slots;" class="col">
      <p class="display-6 text-center" [ngStyle]="{'font-size': slot.fontSize + 'px'}"
         [ngClass]="{'crossed': slot.isCrossed}"
         [style.color]="slot.color">{{slot.name}}</p>
    </div>

  </div>

</div>

<div class="mt-3">
  <button (click)="startCrossing()" type="button" class="btn btn-primary">Start</button>
  <button (click)="reset()" type="button" class="btn btn-primary">Reset</button>
</div>
